# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: build and publish
 
on:
  push:
    tags:
    - '*'
    
permissions: {}

jobs:
  tests:
    uses: equinor/warmth/.github/workflows/python-test.yml@main
    with:
      event_type: ${{ github.event_name}}
      action_type: ${{ github.event.action}}

  deploy:
    needs: [tests]
    environment: deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v2
        with:
            ref: 'main'
            fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
            python-version: '3.11'

      - name: Install dependencies
        run: |
            curl -sSL https://install.python-poetry.org | python3
            poetry install --with dev --no-interaction
            
      - name: Update version (kept at 0.0.0) in pyproject.toml and build
        run: |
            poetry version ${{ github.ref_name }}
            poetry build

      - name: Mint token
        id: mint
        uses: tschm/token-mint-action@v1.0.3

      - name: Publish the package with poetry
        run: |
          poetry publish -u __token__ -p '${{ steps.mint.outputs.api-token }}'
